* {
  margin: 0;
  padding:0

}
body {
 background-color: skyblue;

}

.list-userContsiner{
  width: 350px;
  margin: 0 auto;
  background-color:#fff;
  margin-top: 10%
}

.userDetails-Container{
 width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 60px;
}

.title-Details{
  color: grey;
}
button{
  padding:6px 12px;
  border: 1px solid red;
  color: rgb(250, 103, 103);
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 5px;
  font-weight: 600;
}

.pictureContainer{
  border-radius: 50%;
}